
<div class="row">
    <div class="col-6">
        <input type="submit" class="btn-info btn form-control" value="Create" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn-success btn form-control">Back to list</a>
    </div>
</div>