@model int
<div class="col-5 offset-2">
    <div class="row">
        <div class="col-6">
            <input type="submit" class="btn btn-info form-control" asp-route-id="@Model" value="Update" />
        </div>
        <div class="col-6">
            <input type="submit" class="btn btn-success form-control" asp-action="Index" value="Back to list" />
        </div>
    </div>
</div>