
@model IEnumerable<SubCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">Sub Category List</h2>
        </div>
        <div class="col-6 text-sm-right">
            <partial name="_CreateButton" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table border table-striped ">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Category.Name)
                    </th>
                </tr>
                @foreach (var v in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(m => v.Name)       @*FIXED DisplayFor vs DisplayNameFor*@
                        </td>
                        <td>
                            @Html.DisplayFor(m => v.Category.Name)
                        </td>
                        <td>
                            <partial name="_TableButton" model="v.Id" />
                        </td>

                    </tr>
                }

            </table>
        }
        else
        {
            <div>
                <p>No Sub Category Exists</p>
            </div>
        }

    </div>
</div>