@model NextGen_Snacky.Models.ViewModels.MenuItemViewModel
@using NextGen_Snacky.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-dark">Details Menu-Item</h2>
<br />


<div class="border backgroundWhite row ">
    <input type="hidden" asp-for="MenuItem.Id" />

    <fieldset disabled>
        <div class="col-12">
            @*------------------------for MenuItem.Name---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" class="form-control" />
                </div>
            </div>

            @*------------------------for MenuItem.Description---------------------------*@

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Description" class="form-control" />
                   
                </div>

            </div>

            @*--------------------------for MenuItem.Price---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" class="form-control" />
                </div>

            </div>


            @*--------------------------for MenuItem.CategoryId---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Category.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Category.Name" class="form-control" />
                </div>

            </div>

            @*--------------------------for MenuItem.SubCategoryId---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategory.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.SubCategory.Name" class="form-control" />
                </div>

            </div>

            @*------------------------for MenuItem.Spicyness---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control">
                    </select>
                </div>
            </div>
           
            <div class="col-lg-12 offset-4">
                <partial name="_DetailsAndBackToListButton" model="Model.MenuItem.Id" />
            </div>
        </div>

    </fieldset>

    <div class="col-3 offset-1">
        <img src="@Model.MenuItem.Image" width="400px" style="border-radius:5px;border: 1px solid #bbb9b9;" />
    </div>
</div>


