@model NextGen_Snacky.Models.ShoppingCart
@using NextGen_Snacky.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Item Details</h2>
<br />

<form method="post">

    @*enctype="multipart/form-data"  Image will be posted inside controller*@

    <div class="border backgroundWhite row">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-4">
            <img src="@Model.MenuItem.Image" width="100%" height="50%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
        
        <div class="col-8">
            @*------------------------for MenuItem.Name---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-md-form-label text-danger text-"></label>
                </div>
                <div class="col-10">
                    <input asp-for="MenuItem.Name" readonly class="form-control" />
                </div>
            </div>

            @*------------------------for MenuItem.Description---------------------------*@

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-md-form-label text-danger"></label>
                </div>
                <div class="col-10">
                    <div class="border p-2 form-control">
                        @Html.Raw(Model.MenuItem.Description)
                    </div>
                </div>

            </div>

            @*--------------------------for MenuItem.Price---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-md-form-label text-danger"></label>
                </div>
                <div class="col-10">
                    <input asp-for="MenuItem.Price" readonly class="form-control" />
                </div>

            </div>


            @*--------------------------for MenuItem.CategoryId---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-md-form-label text-danger"></label>
                </div>
                <div class="col-10">
                    <input asp-for="MenuItem.Category.Name" readonly class="form-control" />
                </div>
            </div>

            @*--------------------------for MenuItem.SubCategoryId---------------------------*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-md-form-label text-danger"></label>
                </div>
                <div class="col-10">
                    <input asp-for="MenuItem.SubCategory.Name" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="custom-label text-danger"></label>
                </div>
                <div class="col-10">
                    <select asp-for="MenuItem.Spicyness" disabled asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control">
                    </select>
                </div>

            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Count" class="col-md-form-label text-danger"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Count"  class="form-control" min="0" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-5">
                    <input type="submit" class="btn btn-outline-success bg-dark form-control" asp-route-id="@Model.MenuItem.Id" value="Add to Cart" />

                </div>
                <div class="col-5">
                    <input type="submit" asp-action="Index" class="btn btn-outline-danger  bg-dark form-control" value="Back to Home" />

                </div>
            </div>


        </div>
        

    </div>
    <input asp-for="MenuItemId" hidden>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
