@model NextGen_Snacky.Models.ViewModels.IndexViewModel;

<br />

@*-----------------------------------to display DISCOUNT at top of web page----------------------------------------*@
@if (Model.Coupon.ToList().Count > 0)
{
    <div class="border">
        <div class="Carousel" data-ride="carousel" data-interval="2000">
            @for (int i = 0; i < Model.Coupon.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture); //convert Picture[] to base 64 string
                            var imagesrc = string.Format("data:image/jpg;base64,{0}", base64);        //retrive corresponding jpg file
                        }
                        <img class="d-block w-100" src="@imagesrc" alt="First slide" height="50px" />
                    </div>
                }

                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture); //convert Picture[] to base 64 string
                            var imagesrc = string.Format("data:image/jpg;base64,{0}", base64);        //retrive corresponding jpg file
                        }
                        <img class="d-block w-100" src="@imagesrc" alt="First slide" height="50px" />
                    </div>
                }

            }
        </div>
    </div>
}


<br />
<br />

@*-----------------to display all MenuItem and there respective sub category at top of web page----------------------*@


<div class="backgroundWhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li>

        @foreach (var item in Model.Category)
        {
            <li class="btn btn-secondary ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">
                @item.Name
            </li>
        }
    </ul>


    @foreach (var categoty in Model.Category)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="@Model.MenuItem.Where(x => x.Category.Name.Equals(categoty.Name))" />
        </div>

    }
</div>

@*-------------------------------jQuery 3.x (CDN).Better use downloaded version for production environment-------------------------------------------*@

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
    </script>

    <script>
        var post = $('.post');

        (function ($) {
            $('#menu-filters li').click(function () {

                //steps to display respective Category object in respective btn click

                //$('#menu-filters li').removeClass('active btn btn-secondary');  //remove current class in 49 Line (not necessary- FIXED)

                $(this).addClass('active btn btn-secondary');                   //'this'-----> USER selected object

                var filter = $(this).data("filter");                            //Extract the selected "data-filter" from Line 49

                $('.menu-restaurant').fadeOut();                                //will dissapear "Show All" objects

                setTimeout(function () {
                    $(filter).slideDown();
                }, 300);
            });
        })(jQuery);
    </script>
}




