@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="col-12">
    <p>
        <h4>What data is collected?</h4>
        Most of your personal data is collected from you when:
        <br />

        1. You sign up for our services;
        <br />
        2. You create account as customer or as cahsier or chef;
        <br />
        3. In order to deliver the best Services to you, we may collect the following information:
        <br />
        4. Account related information is collected when you sign up for our Services.
        <br />
        5. This information may include your name, address, phone number, email address, credit card information, etc.



        <h5>
            <br />
            <b>Contact me</b>

            <br />
            If you have any questions or concerns regarding our Privacy Policy, you may contact us by:


        </h5>

        <h6>
            Email: <b>pratikbablu267@gmail.com</b>
            <br />
            We will respond to all requests within 30 days.
        </h6>

    </p>

</div>

